.nav {
  float: right;
  background-color: red;
  border: 5px dotted blue;
  padding: 20px;
  margin: 100px;
}
.image {
  float: left;
  padding: 27px;
}
.middle{
  text-align: center;
  color: blue;
  font-weight: bold;
  width: 300px;
  height: 300px;
}
